body {
    font-family: 'Inconsolata', monospace;
}

.dot {
    width: 1px;
    height: 1px;
    border: 20px solid white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    border-radius: 100%;
    transition: 0.1s ease;
    mix-blend-mode: difference;
}

.animate-dot {
    animation: fadeOut 2s both;
}

.trigger-audio {
    position: absolute;
    transform: translate(0);
    transition: 1s ease;
}

.trigger-audio img {
    z-index: 0;
}

video.input_video.selfie {
    /*visibility: hidden;*/
}

.custom-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    mix-blend-mode: hard-light;
}

.ear-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.message-allow-access {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 10px 20px;
    color: #1b2336;
    background-color: #6efd85a3;
    border-radius: 30px;
    font-style: italic;
}

.instructions {
    position: absolute;
    top: 0;
    left: -30px;
    opacity: 0;
    padding: 10px 20px;
    margin: 20px;
    background-color: #ffffff24;
    max-width: 50vw;
    width: 450px;
    transition: 1s;
}

.close-instructions {
    border: none;
    position: absolute;
    top: 8px;
    right: -5px;
    padding: 5px 10px;
    background-color: #ffffffc2;
    color: black;
    cursor: pointer;
}

.show-instructions {
    left: 20px;
    opacity: 1;
}

@keyframes rockFloat0 {
    0% {transform: translate3d(0, 0, 0)}
    25% {transform: translate3d(10px, -10px, 0)}
    75% {transform: translate3d(0, 10px, 0)}
    100% {transform: translate3d(0, 0, 0)}
}

@keyframes rockFloat1 {
    0% {transform: translate3d(0, 0, 0)}
    25% {transform: translate3d(10px, -5px, 0)}
    75% {transform: translate3d(0px, -20px, 0)}
    100% {transform: translate3d(0, 0, 0)}
}
@keyframes rockFloat2 {
    0% {transform: translate3d(0, 0, 0)}
    25% {transform: translate3d(10px, 10px, 0)}
    75% {transform: translate3d(20px, 5px, 0)}
    100% {transform: translate3d(0, 0, 0)}
}
@keyframes rockFloat3 {
    0% {transform: translate3d(0, 0, 0)}
    25% {transform: translate3d(-5px, 15px, 0)}
    75% {transform: translate3d(-15px, 5, 0)}
    100% {transform: translate3d(0, 0, 0)}
}
@keyframes rockFloat4 {
    0% {transform: translate3d(0, 0, 0)}
    25% {transform: translate3d(5px, -10px, 0)}
    75% {transform: translate3d(20px, 5px, 0)}
    100% {transform: translate3d(0, 0, 0)}
}
@keyframes rockFloat5 {
    0% {transform: translate3d(0, 0, 0)}
    25% {transform: translate3d(10px, -20px, 0)}
    75% {transform: translate3d(25px, -10px, 0)}
    100% {transform: translate3d(0, 0, 0)}
}
@keyframes rockFloat6 {
    0% {transform: translate3d(0, 0, 0)}
    25% {transform: translate3d(-10px, -20px, 0)}
    75% {transform: translate3d(5px, 5px, 0)}
    100% {transform: translate3d(0, 0, 0)}
}
@keyframes rockFloat7 {
    0% {transform: translate3d(0, 0, 0)}
    25% {transform: translate3d(15px, -5px, 0)}
    75% {transform: translate3d(-5px, 5px, 0)}
    100% {transform: translate3d(0, 0, 0)}
}
@keyframes rockFloat8 {
    0% {transform: translate3d(0, 0, 0)}
    25% {transform: translate3d(5px, -15px, 0)}
    75% {transform: translate3d(15px, -5px, 0)}
    100% {transform: translate3d(0, 0, 0)}
}

@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}
