.dot {
    width: 1px;
    height: 1px;
    border: 20px solid white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 100%;
    transition: 0.1s ease;
    /*animation: fadeOut 1s both;*/
}

.trigger-audio {
    position: absolute;
    z-index: 0;
    transform: scale(0.5) translate(-75%, -75%);
    border: 1px solid greenyellow;
}

.trigger-audio img {
}

video.input_video.selfie {
    /*visibility: hidden;*/
}

.custom-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #4B4555;
    /*background: linear-gradient(-45deg, #A0FF8D, #C586FF, #4B4555, #333);*/
    /*background-size: 400% 400%;*/
    /*animation: gradient 15s ease infinite;*/
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*@keyframes fadeOut {*/
/*    0% { opacity: 1; }*/
/*    100% { opacity: 0; }*/
/*}*/
