.dot {
    width: 1px;
    height: 1px;
    border: 20px solid #3498db;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    border-radius: 100%;
    transition: 0.3s ease;
    /*animation: fadeOut 1s both;*/
}

/*@keyframes fadeOut {*/
/*    0% { opacity: 1; }*/
/*    100% { opacity: 0; }*/
/*}*/
