@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.abs {
    position: absolute;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
     color: lightblue;
 }

body {
    bottom: 0;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: 0px 0px;
    overflow: hidden;
}

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #004496;
    opacity: 0;
}

.flash-custom-background {
    animation: backgroundFlash 1s;
}

@keyframes backgroundFlash {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.input_video {
    position:relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
}

.input_video .selfie {
    display: none;
}

.output_canvas {
    position:absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

.logo {
    bottom: 10px;
    right: 20px;
}

.logo .title {
    color: white;
    font-size: 28px;
}

.logo .subtitle {
    position: relative;
    color: white;
    font-size: 10px;
    left: -30px;
    top: 20px;
}


.control-panel {
    position: absolute;
    left: 10px;
    top: 10px;
    visibility: hidden;
}

.loading {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    backface-visibility: hidden;
    justify-content: center;
    opacity: 1;
    transition: opacity 1s;
    width: 100vw;
    height: 100vh;
    background-color: #1a263a;
    background-image: url(../images/background.jpg);
    background-size: cover;
    z-index: 2;
}

.loading .message {
    font-size: x-large;
    color: white;
    z-index: 7;
}

.loading .spinner {
    position: absolute;
    width: 300px;
    height: 300px;
    animation: spin 1s linear infinite;
    background-color: #1a2237;
    border: 2px solid #1a2237;
    border-top: 2px solid #60e47e;
    border-radius: 50%;
}

.loaded .loading {
    opacity: 0;
}
